.barMain{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;

    .barHead{
        .barInfo{
            height: 100%;
        }
    }

    

}